<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
   <add name="cnnStr" connectionString="Data Source =192.168.108.18;Initial Catalog =CRM_InterFace;User Id = crm;Password = 1234;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
</connectionStrings>
  <appSettings>
    <add key="apiurl" value="https://api.xiaoshouyi.com"></add>
    <add key="t1" value="1"></add>
  </appSettings>
</configuration>
